body
{
  background-image: url("../../imagenes/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.register {
  width: 80%;
  background: #4e4d4d;
  margin: auto;
  margin-top: 2%;
  box-shadow: 10px 18px 37px rgb(0, 0, 0);
  padding: 2% 4%;
  border-top: 7px solid #f89e0c;
  border-bottom: 7px solid #f89e0c;
  color: white;
}
.buttons {
  width: auto;
  height: 40px;
  background: #f89e0c;
  border: none;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
}
.controls {
  width: 97%;
  border: 1px solid #f89e0c;
  margin-bottom: inherit;
  padding: 11px 8px;
  background: #252323;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.select {
  padding: 11px 10px;
  border: 1px solid #f89e0c;
  border-radius: 4px;
  background: #252323;
  background-color: #252323; 
  color: white;
  font-weight: bold;
  
}
.dos_en_uno {
  width: 97%;
  margin: auto;
  margin-top: 2%;
  padding: 0px 10px;
  text-align: center;
  
}
h1{
  text-align: center;
  font-size: 50px;
  padding-top: 0%;
}
p{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
a{
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/*
#wrap .statusmsg{
  font-size: 12px; // Set message font size  
  padding: 3px; // Some padding to make some more space for our text  
  background: #EDEDED; // Add a background color to our status message   
  border: 1px solid #DFDFDF; // Add a border arround our status message   
}
*/