* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url("../../imagenes/foto.jpg");
    margin-top: 6%;
  }

@media only screen and (max-width: 900px) {
  body{margin-top: 27% ;margin-bottom: 24% ;color: white;}
  }
  @media only screen and (max-width: 400px) {
    body{margin-top: 54% ;margin-bottom: 24% ;color: white;}
    }
  
  .form-login {
    width: 70%;
    background: #4e4d4d;
    margin: auto !important;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 4% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
  }
  
  .Alliance {
    border-radius: 30px;
    width: 60%; 
    margin-top: -14%;
    margin-bottom: -6%;
    margin-left: 20%;
    padding: 4%;

  }
  .controls {
    width: 100%;
    border: 1px solid #f89e0c;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  .buttons {
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: #f89e0c;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
    color: white;
  }
  
  .form-login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .form-login a:hover {
    text-decoration: underline;
  }
  .centro{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1%;
    margin-top: 2%;
  }
  .centro1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }

h1 {
  font-family: Arial,sans-serif;
  color: #FF214F;
  }
            