
body {
    background-image: url("../../imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: White;
}
a{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: White;
}
ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
.galeria{
    font-family: Arial;
    margin-top: 100px;
}
.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}
.linea{
    border-top: 5px solid #f89e0c;
    margin-bottom: 1%;
}
.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}
.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:300px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;

}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:#f89e0c ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .7s ease;
}
.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.overlay a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 5px;
}
.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}
@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}