body{
    background-image: url("../../imagenes/fondo2.jpg");
    background-repeat: repeat;
    background-size: cover;
    font-size: 20px;
    margin:0;
    padding:0;
    font-family: arial;
}
ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active{
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active){
    background-color: rgb(0, 0, 0);
}
.formulario{
    width: 70%;
    background: #4e4d4d78;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 1%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
    text-align: center
}
.clases{
    width: 70%;
    height: auto;
    background: #4e4d4d78;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
    text-align: center;
}
.select {
    padding: 1% 1.5%;
    border: 1px solid #f89e0c;
    border-radius: 4px;
    background: #252323;
    background-color: #252323; 
    color: white;
    font-weight: bold;
}
.controls{
    padding: 1% 1.5%;
    border: 1px solid #f89e0c;
    border-radius: 4px;
    background: #252323;
    background-color: #252323; 
    color: white;
    font-weight: bold;
    margin: 1%;
}
.button{
    padding: 1% 1.5%;
    border: 1px solid #f89e0c;
    border-radius: 4px;
    background: #252323;
    background-color: #252323; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 8px;
}
.time{
    padding: 1% 1.5%;
    border: 1px solid #f89e0c;
    border-radius: 4px;
    background: #252323;
    background-color: #252323; 
    color: white;
    font-weight: bold;
}
.Clase {
    width: 97%;
    margin: auto;
    margin-top: 2%;
    padding: 0px 10px;
    text-align: center;
  }
.Cinturon_Grado {
    width: 97%;
    margin: auto;
    margin-top: 2%;
    padding: 0px 10px;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.anexo{
    
    padding: 1%;
}
.letra{
    font-size: 24px;
    font-weight: bold;
}
.espacio{
    margin: 3%;
    text-align: center;
    width: 90%;
    border-style: solid;
    border-color: azure;
    border-radius: 20px;
    padding: 1.7%;
}
.scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 0.1%;
    width: 95%;
    padding: 2%;
    margin: auto;
    text-align: center
}

