body {
    font-family: arial;
    background-image: url("../../imagenes/foto.jpg");
    margin: 0%;
}
ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }

.comentarios {
    width: 80%;
    background: #00000071;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
  }
.select {
    padding: 11px 10px;
    border: 1px solid #f89e0c;
    border-radius: 4px;
    background: #252323;
    background-color: #252323; 
    color: white;
    font-weight: bold;
  }
.controls {
    width: 100%;
    border: 1px solid #f89e0c;
    margin-bottom: inherit;
    padding: 9px 0px;
    background: #252323;
    font-size: 18px;
    font-weight: bold;
    color: white;
    resize:none;
    margin-right: auto;
    margin-left:auto;
}
.espacio{
    margin-top: -0.9%;
    margin-bottom: 0.5%;
    padding:2%;
    font-size: 20px;
  }

.buttons {
    width: auto;
    height: 40px;
    background: #f89e0c;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}