body {
    background-image: url("../../imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
    padding: 0px;
	font-family: Arial;
	font-size: 20px;
	
}

ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
    padding: 0px;
	width:100%;

	margin-block-start: 0%;
	margin-block-end: 0%;
	padding-inline-start: 0%;
}

.log{
    float: right;
    margin-right:20px;
}

li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}
.container{
	width:99vw;
	overflow-x:scroll
}
@media screen and (max-width: 900px) {
	table {
		width:100%;
		display: block;
       	overflow-x: auto;
	}
	.container{
		width:99vw;
		overflow-x:scroll
	}
}
table.cal {
	min-height:600px;
	width:97%;
	color: #000000;
	border-spacing:0;
	border: 3px solid f89e0c;
	border-radius: 20px 20px 20px 20px;
	padding: 2%;
	margin: 2%;
	background-color: rgba(0, 0, 0, 0.322);
}
table > caption {
	border: 5px solid  rgb(0, 0, 0);
	
	border-radius: 15px;
	text-transform: uppercase;
	text-align: center;
	background-color: #f89e0c;
	color: #000000;
	font-size: 50px; 
	padding:1% 1% 1% 1% ;
	margin:2% 2% 2% 2% ;
}
thead> tr > th {
    background-color:#f89e0c; 
	border: 1px solid  rgb(0, 0, 0);
	border-radius: 10px ; height:50px;
	text-align:center;
	vertical-align:center;
font-size:25px;  margin: 1%; padding:1%;}

tr:nth-child(odd) {
	
	border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:nth-child(even) {
		border-radius: 10px 10px 10px 10px;
	padding:1%;
	margin:1%;
}
tr:last-child {
	border-radius: 0 0 10px 10px;
	padding:1%;
	margin:1%;
}
tr:last-child > td:first-child {
	border-radius: 10px ;
	padding:1%;
	margin:1%;
}
tr:last-child > td:last-child {
	padding:1%;
	margin:1%;
	border-radius: 10px;
}

table.cal>tbody> th,td
 {
	display:in-line;	
		width:10%;margin: 2%;
	padding:2%;
	height:60px;
		border: 2px outset black;
	vertical-align:top;

	text-align: center;
	border-radius: 10px;
}
th {
	text-align: center;
	background: rgba(248, 158, 12, 0.404);
	border: 2px outset black;
}

.horas{
	margin: 0;
	padding: 0;
	background-color: #f89e0c;
    text-align: center;
    vertical-align: middle;
}

.black{ padding:0; margin:0; background-color:#888888;}

span {
	text-align: center;
    vertical-align: bottom;
	color: #800000;
	visibility: hidden;
}
td:active > span {
	visibility: visible;
}
a{
	text-decoration: none;
	color: white
}
