body
{
    background-image: url("../../../imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}


.inscritoss{
    text-align: left;
    border-collapse: collapse;
    padding: 10px;
    padding-right: 25px;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
}

.head {
    width: 60%;
    background: #3131318a;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    color: white;
    text-align: center;
  }
.espacio{
    margin-top: 25px;
}
.centro{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;

    background: #0000008a;
    margin: auto;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    color: white;
    text-align: center;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-size: 35px;
    padding-top: 0%;
}
h3{
    text-align: center;
    font-size: 25px;
    padding-top: 0%;
}
.info {
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
  }
  ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
p,a{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: White;
    text-decoration: none;
}
button{
    width: auto;
    height: 40px;
    background: #f89e0c;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.561);
    text-align: center;
    margin-left: auto;
    border: 3px solid #000000;
    border-radius: 6px;
}
.inscritos{
    background: #0000008a;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
    text-align: center;
    height: 400px;
    width: 66%;
    padding: 15px;
    margin: auto;
    text-align: center
}
.inscritos2{
    background: #0000008a;
    color: white;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
    width: 80%;
    padding: 15px;
    margin: auto;
    text-align: center
}

