.imagen{
    width: 100%;
    max-width: 400px;
    height: auto; 
    margin-left: auto;


}
.contenedor_imagen{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.perfil {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 3% 4%;
    background-color: rgba(0, 0, 0, 0.582);
    border-top: 10px solid #f89e0c;
    border-bottom: 10px solid #f89e0c;
    color: white;
}
h3{
    text-align: center;
    font-size: 24px;
    font-weight: 200;
}
body {
    background-image: url("../../../imagenes/foto.jpg");
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.container-user-info{
    display: grid;
    grid-template-rows: auto
}

a{
    color: white;
    font-size: 20px;  
}
p{
    font-size: 20px;  
}

.user-nombre{
    border-style: solid;
    border-color: #f89e0c;
    border-radius: 4px;
    padding: 8px 12px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.asis{
    border-style: solid;
    border-color: #f89e0c;
    border-radius: 2px;
    padding: 0.4% 0.8%;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 4%;
}
.asistencia_mensualidad_configuracion{
    margin-top: 15%;
    padding: 10px;
}
.user-cinturon{
    border-style: solid;
    border-color: #f89e0c;
    border-radius: 4px;
    padding: 8px 12px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
button {
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    padding: 4%;
    background: #f89e0c;
    border: none;
    color: white;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;   

}
.centro{
    margin-right: auto;
    margin-left: auto; 
    padding: 2;
    margin-bottom: 2%;
    margin-top: 3%;
}
.asistencia_mensualidad_configuracion{
    margin: auto;
    padding: 2%;
}


.inscripciones-and-info{
    display: grid;
    grid-template-columns: 50% 50%;
}

.asistencia_mensualidad_configuracion{
    display: grid;
    grid-template-rows: auto;
}
.scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 240px;
    width: 70%;
    padding: 2%;
    margin: auto;
    text-align: center
}
.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-track:hover, 
  .container::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
h2 {
    text-align: center;
}