body {
    background-image: url("../../imagenes/foto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}

ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

h2{
    text-align: center;
    font-size: 35px;
    padding-top: 0%;
}
h3{
    text-align: center;
    font-size: 25px;
    padding-top: 0%;
}

.eliminar_clase{
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
}
.button {
    width: 97%;
    height: 40px;
    background: #f89e0c;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 10px;

  }
.controls {
    width: 95%;
    padding: 12px 8px;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    background: #00000073;
    border: 1px solid #f89e0c;
    text-decoration: none;
  }
.centro{
    text-align: left;
    margin-left: 2%;
}
a{
    text-decoration: none;
    color: white;
}