.editar_perfil{
    font-size:22px;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 3% 4%;
    background-color: rgba(0, 0, 0, 0.582);
    border-top: 10px solid #f89e0c;
    border-bottom: 10px solid #f89e0c;
    text-align: center;
}

ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

body {
    background-image: url("../../imagenes/foto.jpg");
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    font-size: 20px;

}
