body
{
    background-image: url("../../../imagenes/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    margin: 0px;
    padding: 0px;
}


.head {
    width: 60%;
    height: 60%;
    background: #3131318a;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    color: white;
    text-align: center;
}
.espacio{
    margin-top: 26%;
}
.centro{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    color: white;
    text-align: center;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-size: 35px;
    padding-top: 0%;
}
h3{
    text-align: center;
    font-size: 25px;
    padding-top: 0%;
}

.controls {
    width: 35%;
    padding: 12px 8px;
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    background: #00000073;
    border: 1px solid #f89e0c;
    text-decoration: none;
}
.info {
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
}
  ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
  }
p,a{
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    color: White;
    text-decoration: none;
}
button{
    width: auto;
    height: 40px;
    border: none;
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    background-color: #f89e0c;
    text-align: center;
    margin-left: auto;
    border: 3px solid #000000;
    border-radius: 6px;
}

.formulario{
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 1px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
    text-align: center;
    font-size: 20px;
}

.eliminar_clase{
    width: 60%;
    height: 60%;
    background: #0000008a;
    margin: auto;
    margin-bottom: 2%;
    box-shadow: 10px 18px 37px rgb(0, 0, 0);
    padding: 2% 4%;
    border-top: 7px solid #f89e0c;
    border-bottom: 7px solid #f89e0c;
    color: white;
    text-align: center;
    font-size: 25px;
}

