h1{
    text-align:center;
}
table.alliance {
    border: 2px solid #FE9706;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 25px;
  }
  table.alliance td, table.alliance th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.alliance tbody td {
    font-size: 20px;
  }
  table.alliance tr:nth-child(even) {
    background: #DDBB4C;
  }
  table.alliance thead {
    background: #FE9706;
  }
  table.alliance thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FE9706;
  }
  table.alliance thead th:first-child {
    border-left: none;
  }
  
  table.alliance tfoot {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FE9706;
    border-top: 1px solid #FE9706;
  }
  table.alliance tfoot td {
    font-size: 20px;
  }
  table.alliance tfoot .links {
    text-align: right;
  }
  table.alliance tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
  }

 ul{
    background-color: #f89e0c;
    height: max-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-size:20px;
    font-weight:bold;
}
.log{
    float: right;
    margin-right:20px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
.active {
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
}

body {
    background-image: url("../../imagenes/foto.jpg");
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}
a{
  color: black;
  font-weight: 600px  ;
}